<%= form_with(model: heading_state) do |form| %>
  <% if heading_state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(heading_state.errors.count, "error") %> prohibited this heading_state from being saved:</h2>

      <ul>
        <% heading_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :done, style: "display: block" %>
    <%= form.check_box :done %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.color_field :color %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
