<p style="color: green"><%= notice %></p>

<%= render @heading_state %>

<div>
  <%= link_to "Edit this heading state", edit_heading_state_path(@heading_state) %> |
  <%= link_to "Back to heading states", heading_states_path %>

  <%= button_to "Destroy this heading state", @heading_state, method: :delete %>
</div>
