<%= turbo_frame_tag "notebooks" do %>

  <%= render @heading_state %>

  <div class="row">
    <div class="col">
      <%= link_to "Edit", edit_heading_state_path(@heading_state), class: "btn btn-primary" %>
      <%= link_to "Back", heading_states_path, class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-auto">
      <%= button_to "Delete", @heading_state, method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </div>
<% end %>
