<div class="mb-2">
  
  <%= form_with(model: notebook) do |form| %>
    <% if notebook.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

        <ul>
          <% notebook.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-2">
      <div class="col">
        <%= form.text_field :title, placeholder: "Title", class: "form-control" %>
      </div>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", notebooks_path, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>
