<li>
  <% if [0, 6].include?(day.date.wday) %>
    <strong>
  <% end %>
  <span class="font-monospace" style="white-space: pre"><%= agenda_date(day.date) %></span>
  <% if [0, 6].include?(day.date.wday) %>
    </strong>
  <% end %>
  <ul class="list-unstyled ms-4">
    <% day.headings.each do |heading| %>
      <li class="my-1">
        <%= heading.notebook.title %>:
        <% if heading.deadline %>
          <span class="text-danger">Deadline:</span>
          <% if heading.deadline < DateTime.now %>
            <strong class="text-danger"><%= time_ago_in_words heading.deadline %> ago</strong>
          <% end %>
        <% elsif heading.scheduled %>
          <span class="text-success">Scheduled:
            <% if heading.scheduled < DateTime.now %>
              <%= (Date.today - heading.scheduled.to_date).to_i %>x
            <% end %>
          </span>
        <% else %>
          Not supposed to be here
        <% end %>
        <strong>
          <% if heading.state %>
            <span style="color: <%= heading.state.color %>"><%= heading.state.name %></span>
          <% end %>
          <%= link_to heading.title, heading, data: { turbo_frame: "notebooks" } %>
        </strong>
      </li>
    <% end %>
  </ul>
</li>
