<div>
  <strong>
    <% if heading.state %>
      <span style="color: <%= heading.state.color %>"><%= heading.state.name %></span>
    <% end %>
    <%= link_to heading.title, heading %>
  </strong>
  <div>
    <% if heading.deadline %>
      <strong>Deadline:</strong> <%= heading.deadline %>
    <% elsif heading.scheduled %>
      <strong>Scheduled:</strong> <%= heading.scheduled %>
    <% else %>
      Not supposed to be here
    <% end %>
  </div>
</div>
