<%= form_with(model: heading) do |form| %>
  <% if heading.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(heading.errors.count, "error") %> prohibited this heading from being saved:</h2>

      <ul>
        <% heading.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :title, placeholder: "Title" %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :deadline %>
    <%= form.datetime_field :deadline %>
  </div>

  <div>
    <%= form.label :scheduled %>
    <%= form.datetime_field :scheduled %>
  </div>

  <div>
    <%= form.text_area :body, placeholder: "Body" %>
  </div>

  <%= form.hidden_field :parent_id, value: parent_id %>

  <div>
    <%= form.submit %>
    <%= link_to "cancel", heading %>
  </div>
<% end %>
