<%= turbo_frame_tag heading do %>
  <div data-controller="heading"
       data-heading-id-value="<%= heading.id %>"
       class="pb-1 ps-2 pe-1 mb-1"
       style="border-left: 2px solid <%= depth_color(heading.depth) %>"
  >
    <details data-heading-target="details" data-action="heading#toggle">
      <summary>
        <strong>
          <span style="color: <%= heading.state&.color || 'inherit' %>" class="<%= 'text-muted' if heading.state&.done %>" data-heading-target="state" data-action="click->heading#showStateSelector">
            <% if heading.state %>
              <%= heading.state.name %>
            <% else %>
              <span class="px-2" style="margin-left: -9px"></span>
            <% end %>
          </span>
          <%= form_with(model: heading, html: { class: "me-1", data: { heading_target: "stateSelection", action: "change->heading#stateSelectionSubmit" }, style: "display: none;" }) do |form| %>
            <%= form.collection_select :heading_state_id, @heading_states_all ||= HeadingState.all, :id, :name, include_blank: true, class: "form-control" %>
          <% end %>
          <%= tag.span class: ("text-muted" if heading.state&.done) do %>
            <%= heading.title %>
          <% end %>
        </strong>
        <small id="<%= dom_id heading %>_children_count">
          (<%= heading.children.length %>)
        </small>
        <%= link_to '<i class="bi bi-pencil"></i>'.html_safe, edit_heading_path(heading), title: "Edit", class: "text-body" %>
        <div data-heading-target="options" style="display: inline-block">
          <%= link_to '<i class="bi bi-arrow-up-right"></i>'.html_safe, heading, title: "Maximize", data: { turbo_frame: "_top" } %>
          <%= link_to '<i class="bi bi-link-45deg" data-id-link-target="icon"></i>'.html_safe, '#', title: "Copy org link", data: { controller: "id-link", action: "id-link#copy", id_link_id_value: heading.org_id, id_link_title_value: heading.title } %>
          <%= button_to '<i class="bi bi-x-lg"></i>'.html_safe, heading, class: "text-danger border-0", style: "background: none", title: "Delete", form: { style: "display: inline", data: { turbo_confirm: "Delete heading \"#{heading.title}\" and all its sub-headings?" }}, method: :delete %>
        </div>
        <button role="button" class="border-0" data-action="heading#toggleOptions" style="background: none"><i class="bi bi-three-dots"></i></button>
      </summary>
      <div class="overflow-auto">
        <% if heading.deadline || heading.scheduled || heading.closed_at %>
          <div class="mb-1 d-flex flex-column align-items-end font-monospace" style="width: fit-content; font-size: 14px;">
            <% if heading.deadline %>
              <div>
                <strong>Deadline:</strong>
                <%= heading.deadline %>
              </div>
            <% end %>
            <% if heading.scheduled %>
              <div>
                <strong>Scheduled:</strong>
                <%= heading.scheduled %>
              </div>
            <% end %>
            <% if heading.closed_at %>
              <div>
                <strong>Closed:</strong>
                <%= heading.closed_at %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= render "heading_properties/heading_properties", heading: heading, cached: true %>

        <p style="white-space: pre-wrap" class="mb-1"><%= raw process_org_body(heading.body) %></p>

        <% unless local_assigns[:shallow] %>
          <%= render partial: "headings/heading", collection: heading.children, cached: true %>

          <%= form_with(model: Heading.new(parent_id: heading.id), html: { class: 'd-flex' }) do |form| %>
            <%= form.text_field :title, placeholder: '+', style: 'border: none', class: "mb-1 ms-1 me-1 flex-grow-1", autocomplete: 'off' %>
            <%= form.hidden_field :parent_id %>
          <% end %>
        <% end %>
      </div>

    </details>

  </div>
<% end %>
