<%= turbo_frame_tag heading do %>
  <div data-controller="heading"
       data-heading-id-value="<%= heading.id %>"
       class="pb-2 ps-2 pe-1 mb-2 rounded-start"
       style="border-left: 3px solid <%= depth_color(heading.depth) %>"
  >
    <details data-heading-target="details" data-action="heading#toggle">
      <summary>
        <strong>
          <span style="color: <%= heading.state&.color || 'inherit' %>" data-heading-target="state" data-action="click->heading#showStateSelector">
            <% if heading.state %>
              <%= heading.state.name %>
            <% else %>
              <span class="px-2" style="margin-left: -9px"></span>
            <% end %>
          </span>
          <%= form_with(model: heading, html: { class: "me-1", data: { heading_target: "stateSelection", action: "change->heading#stateSelectionSubmit" }, style: "display: none;" }) do |form| %>
            <%= form.collection_select :heading_state_id, HeadingState.all, :id, :name, include_blank: true, class: "form-control" %>
          <% end %>
          <%= tag.span class: ("text-muted" if heading.state&.done) do %>
            <%= heading.title %>
          <% end %>
        </strong>
        <small id="<%= dom_id heading %>_children_count">
          (<%= heading.children.size %>)
        </small>
        <%= link_to '<i class="bi bi-pencil"></i>'.html_safe, edit_heading_path(heading), title: "Edit" %>
        <%= link_to '<i class="bi bi-arrows-angle-expand"></i>'.html_safe, heading, title: "Expand", data: { turbo_frame: "_top" } %>
        <%= link_to '<i class="bi bi-link-45deg" data-id-link-target="icon"></i>'.html_safe, '#', title: "Copy org link", data: { controller: "id-link", action: "id-link#copy", id_link_id_value: heading.org_id, id_link_title_value: heading.title } %>
        <%= button_to '<i class="bi bi-x-lg"></i>'.html_safe, heading, class: "text-danger", style: "border: none; background: none", form: { style: "display: inline", data: { turbo_confirm: "Delete heading \"#{heading.title}\" and all its sub-headings?" }}, method: :delete %>
      </summary>
      <div class="overflow-auto">
        <% if heading.deadline %>
          <p>
            <strong>Deadline:</strong>
            <%= heading.deadline %>
          </p>
        <% end %>

        <% if heading.scheduled %>
          <p>
            <strong>Scheduled:</strong>
            <%= heading.scheduled %>
          </p>
        <% end %>

        <% if heading.closed_at %>
          <p>
            <strong>Closed:</strong>
            <%= heading.closed_at %>
          </p>
        <% end %>

        <p style="white-space: pre-wrap"><%= raw process_org_body(heading.body) %></p>

        <% unless local_assigns[:shallow] %>
          <% heading.children.each do |child| %>
            <%= render child %>
          <% end %>

          <%= form_with(model: Heading.new(parent_id: heading.id), html: { class: 'd-flex' }) do |form| %>
            <%= form.text_field :title, placeholder: '+', style: 'border: none', class: "mb-1 ms-1 me-1 flex-grow-1", autocomplete: 'off' %>
            <%= form.hidden_field :parent_id %>
          <% end %>
        <% end %>
      </div>

    </details>

  </div>
<% end %>
