<h1>Editing heading</h1>

<%= turbo_frame_tag @heading do %>
  <div style="padding-left: 10px; padding-bottom: 10px; margin-bottom: 10px; border-left: 3px solid <%= depth_color(@heading.depth) %>; border-radius: 5px">
    
    <%= render "form", heading: @heading, parent_id: @heading.parent.nil? ? nil : @heading.parent.id %>
    <% @heading.headings.each do |child| %>
      <%= render child %>
    <% end %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this heading", @heading %> |
  <%= link_to "Back to headings", headings_path %>
</div>
