<h1>Editing heading</h1>

<%= turbo_frame_tag @heading do %>
  <div class="py-2 ps-2 pe-1 mb-2 rounded-start" style="border-left: 3px solid <%= depth_color(@heading.depth) %>">
    <%= render "form", heading: @heading %>
    <% @heading.children.each do |child| %>
      <%= render child %>
    <% end %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this heading", @heading %> |
  <%= link_to "Back to headings", headings_path %>
</div>
