<p style="color: green"><%= notice %></p>

<h1>Headings</h1>

<div id="headings">
  <% @headings.each do |heading| %>
    <%= render heading %>
  <% end %>
</div>

<%= form_with(model: Heading.new) do |form| %>
  <%= form.text_field :title, placeholder: '+', style: 'border: none', autocomplete: 'off' %>
  <%= form.hidden_field :parent_id %>
<% end %>
