<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :pushover_user_key, class: "form-label" %>
    <%= form.text_field :pushover_user_key, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <% if admin? %>
    <div class="mb-2">
      <%= form.label :admin, class: "form-check-label" %>
      <%= form.check_box :admin, class: "form-check-input" %>
    </div>
  <% end %>

  <div>
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", user, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
