<div id="<%= dom_id user %>">
  <ul class="list-unstyled">
    <li>
      <strong>Username:</strong>
      <%= user.username %>
    </li>
    <li>
      <strong>Pushover User Key:</strong>
      <%= user.pushover_user_key %>
    </li>
    <li>
      <strong>Notebooks:</strong>
      <%= user.notebooks.count %>
    </li>
    <li>
      <strong>Headings:</strong>
      <%= user.headings.count %>
    </li>
    <% if admin? %>
      <li>
        <strong>Admin:</strong>
        <%= user.admin %>
      </li>
    <% end %>
</div>
