<h1>Home</h1>

<div class="row" data-controller="home">
  <div class="col" data-home-target="headings">
    <%= turbo_frame_tag "notebooks" do %>
      <% @notebooks.each do |notebook| %>
        <%= link_to notebook.title, notebook %>
      <% end %>
      <div>
        <%= link_to "New notebook", new_notebook_path %>
      </div>
    <% end %>
  </div>
  <div class="col-auto" data-home-target="agenda">
    <%= turbo_frame_tag "agenda", src: agenda_path do %>
      <%= render "headings/agenda", agenda_dates: @agenda_dates %>
    <% end %>
  </div>
</div>
