<div id="<%= "#{dom_id(heading)}_properties" %>" >
  <details class="heading-properties mb-1" <%= "open" if local_assigns[:open] %> >
    <summary class="list-unstyled font-monospace">PROPERTIES</summary>
    <%= form_with(model: HeadingProperty.new(heading: heading), url: heading_heading_properties_path(heading)) do |form| %>
      <table>
        <tbody>
          <tr>
            <td class="font-monospace ps-0 heading_property_key">ID</td>
            <td class="font-monospace"><%= heading.org_id %></td>
          </tr>
          <%= render partial: "heading_properties/heading_property", collection: heading.properties.order(:key) %>
          <tr>
            <td><%= form.text_field :key, class: 'font-monospace', placeholder: 'Key', size: 12 %></td>
            <td><%= form.text_field :value, class: 'font-monospace', placeholder: 'Value', autocomplete: 'off', size: 15 %></td>
          </tr>
          <%= form.hidden_field :heading_id %>
          <%= form.submit style: 'display: none' %>
        </tbody>
      </table>
    <% end %>
    <span class="font-monospace">END</span>
  </details>
</div>
