<nav class="navbar navbar-expand-lg bg-body card">
  <div class="container-fluid">
    <%= link_to "Taskweb", home_path, class: "navbar-brand", data: { turbo_frame: "notebooks" } %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", home_path, class: "nav-link", data: { turbo_frame: "notebooks" } %>
        </li>
        <li class="nav-item">
          <%= link_to "States", heading_states_path, class: "nav-link" %>
        </li>
      </ul>
      <% if logged_in? %>
        <%= link_to current_user&.username, current_user, class: "nav-link me-2" %>
        <%= form_with(url: logout_path, method: :delete) do |form| %>
          <%= form.submit "Logout", class: "btn btn-outline-secondary" %>
        <% end %>
      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</nav>
