<!DOCTYPE html>
<html>
  <head>
    <title>Taskweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <%= render "layouts/navbar" %>
          <div>
            <% if notice %>
      	      <%= notice %>
	          <% end %>
	          <% if alert %>
      	      <%= alert %>
	          <% end %>
          </div>
        </div>
      </div>

      <div class="row gx-3" data-controller="home">
        <div class="col-12 col-lg mb-3" data-home-target="headings">
          <div class="card p-3 shadow-sm">
            <%= yield %>
          </div>
        </div>
        <% if logged_in? %>
          <div class="col-12 col-lg-auto order-first order-lg-last" data-home-target="agenda">
            <div class="row">
              <div class="col">
                <div class="card shadow-sm p-3 pb-0 mb-3">
                  <%= turbo_frame_tag "agenda" do %>
                    <%= render "headings/agenda", agenda_dates: Heading.where(user: current_user).agenda_dates %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
