<!DOCTYPE html>
<html>
  <head>
    <title>Taskweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <nav class="navbar bg-light">
            <div class="container-fluid">
              <%= link_to "Taskweb", home_path, class: "navbar-brand", data: { turbo_frame: "notebooks" } %>
            </div>
          </nav>
        </div>
      </div>

      <div class="row" data-controller="home">
        <div class="col-12 col-lg" data-home-target="headings">
          <p style="color: green"><%= notice %></p>
          <%= yield %>
        </div>
        <div class="col-12 col-lg-auto order-first order-lg-last" data-home-target="agenda">
          <div class="row">
            <div class="col">
              <div class="card shadow-sm bg-light p-3 pb-0">
                <%= turbo_frame_tag "agenda" do %>
                  <%= render "headings/agenda", agenda_dates: Heading.agenda_dates %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
